{% load static %}

<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-blue-50 py-2 shadow-dark-mild dark:bg-neutral-700 lg:py-4"
  data-twe-navbar-ref>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div>
      <a class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0" href="#">
        Unity
      </a>
    </div>

    <div>
      <a class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0" href="#">
        BibliotecAPP
      </a>
    </div>

  </div>

  <div>

  </div>
</nav>